.header {
    display: block;
    text-align: center;
    font-size: 30px;
    margin: 10px 0;

}



.cartitem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px 20px;
}

.cartItemImg {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.cartItemDetail {
    display: flex;
    font-weight: bold;
    font-family: "Candara", sans-serif !important;
    flex: 1;
    padding: 0 20px;
    flex-direction: column;
}

/* Home Page */

.home {
    display: flex;
}

.filters {
    background-color: #612e53;
    font-family: "Candara", sans-serif;
    font-weight: bold;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 10px;
    height: 54vh;
}

.filters > span {
    padding-bottom: 20px;
}



.title {
    font-size: 30px;
}

.productContainer {
    display: flex;
    width: 78%;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.products {
    width: 30%;
    margin: 10px;
}

.summary {
    width: 30%;
}

/* Media Queries */
@media (max-width: 771px) {
    .filters {
        width: 40%;
        padding: 10px;
        margin: 5px;
    }

    .filters > span {
        font-size: 10px;
    }

    .title {
        font-size: 18px !important;
    }

    .productContainer {
        width: 58%;
        padding: 0;
    }

    .search {
        display: none !important;
    }

    .products {
        width: 100%;
    }
}


.product__title {
    height: 50px;
    color: black!important;
    font-size: 20px!important;
    margin: 10px;
}

.search{
    margin-right: 1rem;
}

.productsbtn{
    font-family: "Candara", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: #D6BBC0 !important;

}

.cartbtn{
    font-family: "Candara", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: #D6BBC0 !important;
}

.accountbtn{
    font-family: "Candara", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: #D6BBC0 !important;

}

.favouritesbtn{
    font-family: "Candara", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: #D6BBC0 !important;
}

.productsbtn:hover{
    text-decoration: #BC69AA underline !important;
}

.cartbtn:hover{
    text-decoration:#BC69AA underline !important;
}

.accountbtn:hover{
    text-decoration:#BC69AA underline !important;
}

.favouritesbtn:hover{
    text-decoration: #BC69AA underline !important;
}

.img{
    margin-left: -30% !important;
    width:200px !important;
    height: 200px !important;

}

.home{
    background-image: linear-gradient(#4A1C49,#D6BBC0);
}

.dropdownmenu{
    margin-left: -220% !important;
    background-color: #D6BBC0 !important;
    font-family: "Candara", sans-serif;
}

.m-auto{
    background-color: #D6BBC0 !important;
    font-family: "Candara", sans-serif;
    font-weight: bold !important;
}
.btn-cart{
    background-color: #4A1C49 !important;
    border: #4A1C49!important;
}

.dropdown{
    color: #4A1C49 !important;
}

.badge1{
    color: #D6BBC0 !important;
    --bs-bg-opacity: 0 !important;
}



