body {
    background-color: #f9f9fa;
    align-items: center;
    justify-content: center;
}


.padding{
    margin-top: 40px;
}
.user-card-full {
    overflow: hidden
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    border: none;
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px
}

.bg-c-lite-green {
    background-color: #501a4f;
}

.user-profile {
    padding: 20px 0
}

.card-block {
    padding: 1.25rem
}

.img-radius {
    border-radius: 5px
}

h6 {
    font-size: 14px
}

.card .card-block p {
    line-height: 25px
}

@media only screen and (min-width: 1400px) {
    p {
        font-size: 14px
    }
}

@media only screen and (min-width: 768px)
{
    .col-xl-6 {
        width: 50%!important;
    }
}

.card-block {
    padding: 1.25rem
}

.p-b-5 {
    padding-bottom: 5px !important
}

.card .card-block p {
    line-height: 25px
}

.text-muted {
    color: #919aa3 !important
}

.f-w-600 {
    font-weight: 600
}

.p-b-5 {
    padding-bottom: 5px !important
}

.user-card-full .social-link li {
    display: inline-block
}

.user-card-full .social-link li a {
    font-size: 20px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}
.page-container
{
    margin-left: 18%;
}

.row
{
    --bs-gutter-x: 0!important;
}
